*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    letter-spacing: 0.04rem;
}
body{
    overflow-x: hidden;
    padding-top: 80px;
}
.container{
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}
.btn{
    border: 1px solid #EF7C00;
    font-family: sans-serif;
    background: #EF7C00;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    &:hover{
        background-color: transparent;
        color: #EF7C00;
    }
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
    transition: 0.3s;
}